<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuakeGlobe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0A384BF302ECC9300967B76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0A384CE302ECC9600967B76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0A384D8302ECC9600967B76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
